name: Java CI with Gradle

on:
  push:
    branches: [ main, feature/* ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew build --no-configuration-cache

    - name: Run tests
      run: ./gradlew test --no-configuration-cache

    - name: Generate test report
      if: always()
      run: ./gradlew jacocoTestReport --no-configuration-cache

    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@v3
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      with:
        args: >
          -Dsonar.projectKey=sameercancodewell-max_tcoe-automation-framework
          -Dsonar.organization=sameercancodewell-max
          -Dsonar.sources=app/src/main/java
          -Dsonar.tests=app/src/test/java
          -Dsonar.java.binaries=app/build/classes
          -Dsonar.coverage.jacoco.xmlReportPaths=app/build/reports/jacoco/test/jacocoTestReport.xml
          -Dsonar.junit.reportPaths=app/build/test-results/test

    - name: Upload test results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: app/build/reports/tests/test/

    - name: Upload coverage report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: app/build/reports/jacoco/test/html/